[submodule "submodules/pokemon-colorscripts"]
	path = submodules/pokemon-colorscripts
	url = https://gitlab.com/phoneybadger/pokemon-colorscripts
[submodule "dotfiles/zsh/plugins/fzf-tab"]
	path = dotfiles/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
